h1 {
  color: #272142;
  font-weight: bold;
  line-height: 40px;
  font-size: 37px;
}

body {
  background-color: #f8f8f8;
  padding: 80px 30px 80px 30px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
.search-input {
  background-color: #ebdef0;
  border-radius: 6px;
  padding: 5px 25px 5px 25px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 30px;
  width: 60%;
}
.btn {
  background-color: #633974;
  border-radius: 6px;
  padding: 5px 25px 5px 25px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
}
.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 6px 10px 5px 0px rgba(240, 240, 240, 1);
  max-width: 450px;
}
.current-weather p {
  color: #3d3d3d;
}

footer {
  color: #3d3d3d;
  font-size: 14px;
}
.current-weather {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.temperature-info {
  font-size: 40px;
  padding-top: 15px;
}
